<cn-code-list-link-form
  [items]="filteredItems()"
  [immutableItems]="immutableItems()"
  [itemTemplate]="itemTemplate"
  [(selectedValues)]="selectedValues"
  (itemSelected)="itemSelected.emit($event)"
  (itemDeselected)="itemDeselected.emit($event)"
>
</cn-code-list-link-form>

<ng-template #itemTemplate let-item>
  <div class="d-flex">
    <div
      class="cn-dot"
      [class.bg-info]="item.status === 1"
      [class.bg-dark]="item.status === 2"
    ></div>
    <div class="display-value">
      <div class="list-item-label">Role</div>
      <div class="list-item-title">{{ item.name }}</div>
    </div>
  </div>
</ng-template>
