<ng-template [busyIndicator]="loadKey">
  @if (loaded()) {
    <cn-code-list-link-form
      [items]="items()"
      keyField="value"
      [itemTemplate]="itemTemplate"
      [(selectedValues)]="selectedValues"
      (itemSelected)="itemSelected.emit($event)"
      (itemDeselected)="itemDeselected.emit($event)"
    >
    </cn-code-list-link-form>
  }
</ng-template>

<ng-template #itemTemplate let-item>
  <div class="grid w-10" style="--columns: 2">
    <div class="display-value">
      <div class="list-item-label">Claim</div>
      <div class="list-item-title">{{ item.text ?? item.value }}</div>
    </div>
    <div class="display-value">
      <div class="list-item-label">Value</div>
      <div class="list-item-title">{{ item.value }}</div>
    </div>
  </div>
</ng-template>
