<cn-code-list-list
  [items]="items()"
  [itemTemplate]="viewTemplate"
  [itemActionsTemplate]="detailTemplate"
  [codeListActions]="codeListActions()"
>
</cn-code-list-list>

<ng-template #detailTemplate let-item>
  <cn-code-list-actions-container
    [item]="item"
    [actions]="actions(item)"
  ></cn-code-list-actions-container>
</ng-template>

<ng-template #viewTemplate let-item>
  <div class="d-flex">
    <div
      class="status-dot"
      [class.bg-info]="item.status === 1"
      [class.bg-dark]="item.status === 2"
    ></div>
    <div class="grid w-10" style="--columns: 3">
      <div class="display-value">
        <div class="list-item-label">Username</div>
        <div class="list-item-title">{{ item.email }}</div>
      </div>
      <div class="display-value">
        <div class="list-item-label">Name</div>
        <div class="list-item-title">{{ item.firstName }}</div>
      </div>
      <div class="display-value">
        <div class="list-item-label">Last name</div>
        <div class="list-item-title">{{ item.lastName }}</div>
      </div>
    </div>
  </div>
</ng-template>
